<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>

	<style>
		html, body {
			height: 100%;
			margin: 0;
		}
		.leaflet-container {
			height: 400px;
			width: 600px;
			max-width: 100%;
			max-height: 100%;
		}
	</style>
  </head>

  <body>
    <header class="header-area header-2-area">
      <div class="header-nav">
        <div class="container custom-container">
          <div class="row">
            <div class="col-lg-12">
              <div class="navigation">
                <!-- navigation -->
                <%- include ("../partials/nav.ejs") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="rondhon-menu-area pt-150 pb-150">
      <div class="container">
        <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="pills-home"
            role="tabpanel"
            aria-labelledby="pills-home-tab"
          >
          <% items.forEach(function(pedidos) { %> 
            <% pedidos.orders.forEach(function(object) { %>
              <% var object = object %>
                <!--- No está iterando por algun motivo -->
            <div class="rondhon-menu-item mt-30">
              <div class="row align-items-center">
                <div class="col-lg-5">
                  <div class="rondhon-menu-thumb">
                    <!-- <img src="/stylesheets/assets/images/rondhon-menu-1.jpg" alt="" /> -->
                    <div id='map'></div> <!--- YA APARECE EL MAPA CON LOS PUNTOS, ESTÁ ITERANDO PEEEEEEEEEERO NO PUEDE APARECER MÁS DE UNA VEZ EL MAPA POR HTML APARENTEMENTE-->
                    <script>
                      var lat = '<%= object.latitude %>';
                      var lng = '<%= object.longitude %>';
                      console.log(lat,lng)
                      var map = L.map('map').setView([-25.29, -57.66], 13);
                      var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 19,
                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                      }).addTo(map);
                      var marker = L.marker([lat, lng]).addTo(map);
                    </script>
                  </div>
                </div>
                <div class="col-lg-5 col-md-8">
                  <div class="rondhon-menu-content">
                    <h3 class="title">  <!-- Espacio de envio de mensajes automatico a whatsapp  -->
                      <a href="https://api.whatsapp.com/send?phone=<%= object.client_phone.replace('+','') %>&text=Hola!%20Te%20escribimos%20para%20confirmar%20tu%20pedido"><%= object.client_first_name %> <%= object.client_last_name %> 
                          <br>
                        <p> <strong>  <%= object.client_phone %> </strong></p></a>
                    </h3>
                    <p> <%= object.latitude %> , <%= object.longitude %> </p>
                      <button type="button" class="main-btn" data-open="modal1">Ver Pedido</button>

                      <div class="modal" id="modal1">
                        <div class="modal-dialog">
                          <header class="modal-header">
                            
                            <button class="close-modal" aria-label="close modal" data-close>
                              ✕  Cerrar 
                            </button>
                          </header>
                          <section class="modal-content">
                            <p><strong>Algo</strong></p>
                            <p>  </p>
                          </section>
                          <footer class="modal-footer">
                            Asignar delivery
                          </footer>
                        </div>
                      </div>
                    </p>
                  </div>
                </div>
                <div class="col-lg-2 col-md-4">
                  <div class="randhon-menu-review">
                    <h4><%= object.total_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."); %> Gs. </h4>
                    <span>Fecha y Hora Pedido:</span>
                    <p> <%= object.updated_at.replace("T", " | ").replace(".000Z", "")  %> </p>
                    <div class="list">
                      <ul> 
                        <li> 
                          <span> </span><i class="fas fa-star"></i
                          ><i class="fas fa-star"></i><i class="fas fa-star"></i
                          ><i class="fas fa-star"></i
                          ><i class="fas fa-star"></i>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <% });  %>
                    <% }); %>
        </div>
<!--         <div class="row">
          <div class="col-lg-12">
            <div class="pagination-area d-flex justify-content-start mt-50">
              <nav aria-label="Page navigation ">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous"
                      ><span aria-hidden="true"
                        ><i class="fal fa-arrow-left"></i></span
                    ></a>
                  </li>
                  <li class="page-item"><a class="page-link active" href="#">1</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">...</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">7</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next"
                      ><span aria-hidden="true"
                        ><i class="fal fa-arrow-right"></i></span
                    ></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div> -->
      </div>
    </section>
    <script>
      const openEls = document.querySelectorAll("[data-open]");
      const closeEls = document.querySelectorAll("[data-close]");
      const isVisible = "is-visible";

      for (const el of openEls) {
        el.addEventListener("click", function() {
          const modalId = this.dataset.open;
          document.getElementById(modalId).classList.add(isVisible);
        });
      }

      for (const el of closeEls) {
        el.addEventListener("click", function() {
          this.parentElement.parentElement.parentElement.classList.remove(isVisible);
        });
      }

      document.addEventListener("click", e => {
        if (e.target == document.querySelector(".modal.is-visible")) {
          document.querySelector(".modal.is-visible").classList.remove(isVisible);
        }
      });

      document.addEventListener("keyup", e => {
        // if we press the ESC
        if (e.key == "Escape" && document.querySelector(".modal.is-visible")) {
          document.querySelector(".modal.is-visible").classList.remove(isVisible);
        }
      });
      </script>
  </body>
</html>
